@font-face {
font-family: Nunito_black;
src: url(../font/Nunito-Black.ttf);
}
@font-face {
font-family: Nunito_bold;
src: url(../font/Nunito-Bold.ttf);
}

@font-face {
font-family: Nunito_extrabold;
src: url(../font/Nunito-ExtraBold.ttf);
}
@font-face {
font-family: Gloria;
src: url(../font/GloriaHallelujah.ttf);
}

body{
	background-color: white;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 100vh;
}
.container{
	position: relative;
	padding: 0;
	width: auto;
	height: 100vh;
}


body{
	background-image: url("../images/fondo_mix.png");
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}
@media(max-width:1210px) {
    body {
     	background-size: contain;
    }
}
@media(max-width: 500px)
{
	body{
		background-image: url("../images/fondo_mix_cel.png");
	}
}

.logopronto{
	position: fixed;
    right: 0;
    bottom: 5vh;
    width: 130px;
    z-index: 99;
}
.cuadroblanco{
	height: 5px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;
}
.cuadroblanco.l{
	width: 5px;
	height: 100%;
	left: 0;
}
.cuadroblanco.r{
	width: 5px;
	height: 100%;
	right: 0;
}
.cuadroblanco.t{
	top:0;
}
.cuadroblanco.b{
	bottom: 0;

}
h1{
	margin:0;
	padding: 0;
}
h2{
	color:white;
	font-family: Nunito_bold;
	text-align: center;
	font-size: 1.7em;
	padding: 0px 5px 5px 10px;
}
h3{
	text-align: center;
	color: white;
	font-family: Nunito_black;
	margin-bottom: 20px;
    font-size: 1.1em;
    margin-top: 8px;
    padding-right: 2px;
    padding-right: 2px;
}
h4{
	font-size: 1em;
	font-family: Nunito_black;
	text-align: center;
	color:white;
	margin-bottom: 0px;
}
h5{
	margin: 0px;
	font-family: Nunito_bold;
	font-size: 0.9em;
	padding-bottom: 2vh;
}
.pag_home{
	position: relative;
	height: 100vh;
}
.welcome{
	padding-top: 10vw;
	width: 40vw;
	display: none;
}
.welcome_cel{
	padding-top: 18vh;
    width: 45vh;
}
.boton{
	width: 150px;
}
.vac{
	width: 280px;
}
.texto_home{
	padding-left: 30px;
	padding-right: 30px;
}


.setelement{
	padding:0px;
	margin-right: -1px;
}
.elementos{
	margin-right: 0px;
	margin-left: -2px;
	width: 100%;
	position: fixed;
	z-index: 99;
}
.ajus{
	
	margin-left: -3px;
}
.ajus2{
	padding-right: 0px;
}
.elementos_cel{
	margin-right: 0px;
	margin-left: -2px;
	width: 100%;
	position: fixed;
	z-index: 99;
	bottom: 10px;	
}
.elec{
	 display: -ms-flex;
	 display: -webkit-flex;
	 display: flex;
}
.elec_cel{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;	
}
.elec_nor{
	display: none;
}
.fam_ene{
	width: 80px;
	position: absolute;
	top:30%;
	z-index: -99;
}
.fam_feb{
	width: 80px;
	position: absolute;
	top: 30%;
	z-index: -99;
	right: 0;
}

.mes_vs{
	height: 30vh;
}
.vs_nor{

}
/*CAMINOS*/
.caminos{
	padding: 40px;
}
.tit_caminos{
	padding-top: 3vh;
}
.tit_caminos_tit{
	width: 50vw;
}
.img_camino{
	position: absolute;
	left: 1vw;

}
.text_cam{
	padding: 0.5vh 3vh;
	text-align: center;
	color: white;
}
.voto_camino{
	font-family: Nunito_extrabold;
	font-size: 1.2em;
	
}
.btn_camino{
	margin-top: 5vh;
	margin-bottom: 1vh;
	width: 45vw;
}
.cam_cel{

}
.cam_nor{
	display: none;
}
.conte_nor{
	margin-top: 60px;
	background-color: #69D2E7;
	border-radius: 5px;
	padding: 5px 10px;
}
.im_ft{
	width: 150px;
	margin-left: -30px;
	margin-top: -30px;
}
.resultados{
	padding: 5vh 10px 10px 30px;
}
.insc{
	padding-top: 2vh;
	width: 50vw;
}
.btn-pronto{

	margin-top: 2vh;
	background-color: transparent;
	border: 1px black solid;
	color:white;
	padding: 0px 5vw;
}
.resultado{
	font-family: Gloria;
	font-size: 3.3em;
}
.resulf{
	background-image:url("../images/res_febrero.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 27vh;
	color:#69D2E7;
	text-align: center;
	text-align: center;
	padding-top: 6vh
}
.resule{
	background-image: url("../images/res_enero.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 27vh;
	color: #ff3d7f;
	text-align: center;
	padding-top: 6vh
}
.res{
	
}
.sepinsc{

}
.cbo{

}
.est{

}
.estr{
	position: fixed;
	width: 70px;
	margin-left: -20px;
	bottom:10vh;
}
.cababs{
	position: fixed;
	width: 70px;
	right: 0;
	top:120px;
	margin-right: -12px;
	z-index: 90;
}

.qts{
	position: fixed;
	right: 0;
	top: 0;
	width: 90px;
	height: 110px;
	z-index: 99;
}
.formu{
	padding-top: 55px;
	padding-right: 0px;
}
.form{
	color: white;
}
.form.f1{
	font-family: Nunito_bold;
	font-size: 1em;
}
.form.f2{

	font-family: Nunito_bold;
	font-size: 1.1em;
}
.marco{
	border: 1px solid white;
	height: 100%;
}
.imgmar{
	padding: 10px 0px 35px 0px;
	width: 180px;
	
}
.formulariogen{
	padding:10px;
	border: 5px solid white;
	border-radius: 5px;
}
.formu{
	padding:50px 15px 10px 15px;
}
.caminos.for{
	padding-right: 20px;
	padding-left: 20px;
}
.inip{
	background-color:transparent;
	border:1px white solid;
	margin-bottom: 5px;
	padding-left: 5px;
	color: white;
	width: 110%;
}
::-webkit-input-placeholder { color: white; } /* WebKit */
:-moz-placeholder { color: white; } /* Firefox 18- */
::-moz-placeholder { color: white; } /* Firefox 19+ */
:-ms-input-placeholder { color: white; } /* IE 10+ */

.btn-enviar{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 35vw;
}
.foring{
	width: 25vh;
	margin-left: -15px;
}
.foringh{
	width: 90px;
	position: fixed;
	right: -12px;
}
.cheqb{
	display: inline-block;
}
.checkgen{
	display: block;
	color: white;
	font-size: 0.5em;
	font-family: Nunito_bold;
}
.pico{
	margin-right: 0;
	margin-left: 0;
}
.inscon{
	padding-top: 10vh;
}
.insnor{
	width: 40vw;
}
.pico2{
	position: fixed;
	bottom: -8px;
	left: -8px;
	width: 20%;
}
.qtsi{
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 280px;
	z-index: 99;
	display: none;
}
.pico3{
	position: fixed;
	bottom: -8px;
	left: 48vw;
	width: 20%;
}
.titfeed{
	
}
.irs{
	
	
}
.sep{
	margin-top: 50vh;
}
.rsm{
	color:white;
	display: inline-flex;
	
}
.insta{
	margin-top: 3px;
}
.bases{
	text-align: center;
	color: black;
	margin-top: 5px;
	

}
.rst{
	margin-left: 20px;
}
.quitafeed{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 120px;
}
.caballofeed{
	position: fixed;
	bottom: 20vh;
	right: 10vw;
	width: 50px;
}
.hawafeed{
	position: fixed;
	top: 28vh;
	left: 0;
	width: 100px;
}
.estefeed{
	position: fixed;
	top:20vh;
	right: 30vw;
	width: 70px;
}
.kafeed{
	position: fixed;
	top:-55px;
	right: 0;
	width: 180px;
}
@media(min-width: 500px)
{
	.quitafeed{
		width: 200px;
	}
	.kafeed{
		width: 280px;
	}
	.estefeed{
		width: 130px;
	}
	.hawafeed{
		width: 200px;
	}
	.caballofeed{
		width: 100px;
	}
	h6{
		font-size: 1.5em;
	}
	.irs{
		width: 48px;
	}
	.rst{
		font-size: 2em;
	}
	.qtsi{
		display: block;
	}
	.qts.i{
		display: none;
	}
	.checkgen{
		margin-top: 15px;
		font-size: 1em;
	}
	.inip{
		width: 100%;
		padding: 4px 0px 4px 20px;
		margin-bottom: 15px;
	}
	.form.f1{
		font-size: 1.5em;
	}
	.form.f2{
		font-size: 1.6em;
	}
	.formu{
		margin-top: 5vh;
	}
	.btn-enviar{
		margin-top: 2vh;
		width: 15vw;
	}
	.formulariogen{
		margin-top: 2vh;
	}
	.qts{
		width: 300px;
		height: 280px;
	}
	.est{
		width: 43%;
	}
	.cbo{
		margin-top: 50px;
		width: 45%;
		margin-left: -80px;
	}
	.insc{
		width: 20vw;
	}
	.btn-pronto{
		width: 10vw;
		font-size: 1.5em;
		padding:0;
	}
	.sepinsc{
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
	.res{

	}
	.resultado{
		font-size: 4.5em;
	}
	.resule{
		background-position: center;
		height: 40vh;
		padding-top: 11vh;
	}
	.resulf{
		background-position: center;
		height: 35vh;
		padding-top: 11vh;
	}
	.tit_caminos_tit{
		width: 18vw;
	}
	.btn_camino{
		width: 20vw;
	}
	.caminos{
		padding: 40px 30px 0px 30px;
	}
	.text_cam{
		font-size: 1.4em;
	}

	.cam_nor{
		display: block;
	}
	.cam_cel{
		display: none;
	}
	.vs_nor{
		width: 400px;
	}
	.fam_ene{
		width: 180px;
	}
	.fam_feb{
		width: 180px;
	}
	.elec_cel{
		display: none;
	}
	.elec{
		display: block;
	}
	.elec_nor
	{	padding-top: 10vh;
		display: block;	
	}
	.vac{
		width: 400px;
	}

	.logopronto{
		width: 200px;
	}
	.boton{
		width: 300px;
	}
	h3{
		font-size: 2.3em;
	}
	h4{
		font-size: 1.7em;
	}
	.welcome{
		display: block;
		padding-top: 150px;
	}
	.welcome_cel{
		display: none;
	}

}

