
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>

	
	<div class="row elementos" style="background-color:#69D2E7">
		<div class="col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i1.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i2.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i3.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i4.png" alt=""></div>
					</div>
				</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i5.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i6.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i7.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i8.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i17.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i18.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i19.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i20.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i21.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i22.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i23.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i24.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<section class="pag_home caminos cam_cel">
		
		<img class="img_camino" src="../images/i6.png" alt="">
		<div class="row tit_caminos">
			<div class="col-xs-12">
				<img class="tit_caminos_tit img-responsive center-block" src="../images/enerista_tit.png" alt="">
			</div>
		</div>
		<div class="row text_cam">
			<h5>Somos los que salen de vacaciones con el cotillon puesto.</h5>
			<h5>Los que disfrutan los 31 días de puro sol.</h5>
			<h5>Los que bailan primero el hit del verano</h5>
			<h5>Los que aprovechan primero las vacaiones.</h5>
			<h5>Estamos orgullosos de ser eneristas de norte a sur.</h5>
			<span class="voto_camino"> Y tú ¿Eres Enerista?</span>
			<img class="btn_camino" src="../images/voto_enerista.png" alt="">
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<img class="center-block img-responsive" src="../images/enerista_md.png" alt="">
			</div>
		</div>
	</section>
	
	<section class="pag_home caminos cam_nor">
		<div class="row caminos">
			<div class="col-md-6">
				<img class="center-block img-responsive" src="../images/enerista_md.png" alt="">
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="conte_nor center-block">
					<div class="row">
						<div class="col-md-3">
							<img class="im_ft" src="../images/i6.png" alt="">
						</div>
						<div class="col-md-9">
							<img class="tit_caminos_tit img-responsive" src="../images/enerista_tit.png" alt="">
						</div>
					</div>
					<div class="row text_cam">
						<h5>Somos los que salen de vacaciones con el cotillon puesto.</h5>
						<h5>Los que disfrutan los 31 días de puro sol.</h5>
						<h5>Los que bailan primero el hit del verano</h5>
						<h5>Los que aprovechan primero las vacaiones.</h5>
						<h5>Estamos orgullosos de ser eneristas de norte a sur.</h5>
						<span class="voto_camino"> Y tú ¿Eres Enerista?</span>
					</div>
				</div>
				<img class="btn_camino center-block" src="../images/voto_enerista.png" alt="">
			</div>
		</div>
		<div class="row" style="background-color:#69D2E7">
				<div class="col-md-2"></div>
				<div class="col-md-2-offset col-md-2">
					<img src="../images/Hawaianas.png" alt="">
				</div>
		</div>

	</section>

		

	

	<img class="logopronto" src="../images/logo_pronto.png" alt="">