
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>

	
	<div class="row elementos" style="background-color:#ff3d7f">
		<div class="col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
				</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i25.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i26.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i27.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i28.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i29.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i30.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i31.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i32.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<section class="pag_home caminos cam_cel">
		
		<img class="img_camino" src="../images/i27.png" alt="">
		<div class="row tit_caminos">
			<div class="col-xs-12">
				<img class="tit_caminos_tit img-responsive center-block" src="../images/febrerista_tit.png" alt="">
			</div>
		</div>
		<div class="row text_cam">
				<h5>Somos los que tenemos festival</h5>
				<h5>Los que estamos enamorados de febrero.</h5>
				<h5>Los de las fogatas más prendidas.</h5>
				<h5>Los que hacemos las mejores escalopas en la playa.</h5>
				<h5>Estamos orgullosos de ser Febreristas de norte a sur</h5>
				<span class="voto_camino"> Y tú ¿Febrerista?</span>					
			<img class="btn_camino" src="../images/voto_febrerista.png" alt="">
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<img class="center-block img-responsive" src="../images/febrerista_md.png" alt="">
			</div>
		</div>
	</section>
	
	<section class="pag_home caminos cam_nor">
		<div class="row caminos">
			
			<div class="col-md-6">
				<div class="conte_nor center-block" style="background-color:#ff3d7f">
					<div class="row">
						<div class="col-md-3">
							<img class="im_ft" src="../images/i27.png" alt="">
						</div>
						<div class="col-md-9">
							<img class="tit_caminos_tit img-responsive" src="../images/febrerista_tit.png" alt="">
						</div>
					</div>
					<div class="row text_cam">
						<h5>Somos los que tenemos festival</h5>
						<h5>Los que estamos enamorados de febrero.</h5>
						<h5>Los de las fogatas más prendidas.</h5>
						<h5>Los que hacemos las mejores escalopas en la playa.</h5>
						<h5>Los que nunca, pero nunca han salido de vacaciones en enero.</h5>
						<h5>Los que vielven en marzocon un bronceado fascinante.</h5>
						<h5>Estamos orgullosos de ser Febreristas de norte a sur</h5>
						<span class="voto_camino"> Y tú ¿Febrerista?</span>
					</div>
				</div>
				<img class="btn_camino center-block" src="../images/voto_febrerista.png" alt="">
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<img class="center-block img-responsive" src="../images/febrerista_md.png" alt="">
			</div>
		
			
		</div>
		<div class="row" style="background-color:#ff3d7f">
				<div class="col-md-3"></div>
				<div class="col-md-2">
					<img src="../images/hawaiana.png" style="width:150px">
				</div>
		</div>

	</section>

		

	

	<img class="logopronto" src="../images/logo_pronto.png" alt="">