
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>

	
	<div class="row elementos">
		<div class="col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i1.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i2.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i3.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i4.png" alt=""></div>
					</div>
				</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i5.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i6.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i7.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i8.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row elementos_cel">
		<div class="hidden-lg hidden-md hidden-sd col-xs-12 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section id="home" class="pag_home">
		
		<img class="welcome center-block img-responsive" src="../images/welcome.png" alt="">
		<img class="welcome_cel center-block img-responsive" src="../images/welcome_cel.png" alt="">

		<div class="texto_home">
			<h4>Llegó el momento de definirse. ¿Enerista o Febrerista?</h4>
			<h3>VACACIONES EN SAN PEDRO O LA PATAGONIA</h3>
			<a href="#eleccion"><img src="../images/votaaqui.png" alt="" class="boton center-block"></a>
			
		</div>
		<img class="fam_ene" src="../images/fam_ene_home.png" alt="">
		<img class="fam_feb" src="../images/fam_feb_home.png" alt="">
	</section>
	
	<section id="eleccion" class="pag_home elec">

		<div class="elec_cel center-block">
			<a href="#!/eneristas"><img class="center-block img-responsive mes_vs" src="../images/enerista_md.png" alt=""></a>
			
			<img class="vac center-block img-responsive" src="../images/estas_vacaciones.png" alt="">
			<img class="center-block img-responsive mes_vs" src="../images/febrerista_md.png" alt="">
		</div>
		
		<div class="elec_nor center-block">
			<div class="row center-block img-responsive"><img class="vac center-block img-responsive" src="../images/estas_vacaciones.png" alt=""></div>
			<div class="row">
				<div class="col-xs-6">
					<img class="center-block img-responsive vs_nor" src="../images/enerista_md.png" alt="">
				</div>
				<div class="col-xs-6">
					<img class="center-block img-responsive vs_nor" src="../images/febrerista_md.png" alt="">
				</div>
			</div>
		</div>
		
	</section>

	
	<img class="logopronto" src="../images/logo_pronto.png" alt="">
	
