
<div class="cuadroblanco t"></div>
<div class="cuadroblanco b"></div>
<div class="cuadroblanco l"></div>
<div class="cuadroblanco r"></div>
<div class="row elementos">
		<div class="col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i1.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i2.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i3.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i4.png" alt=""></div>
					</div>
				</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i5.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i6.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i7.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i8.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="row elementos_cel">
		<div class="hidden-lg hidden-md hidden-sd col-xs-12 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
</div>
<section class="pag_home cam_cel resultados">
	<img class="cababs" src="../images/Caballo.png" alt="">
	<div class="row">

		<h2>Hasta el momento tenemos más Eneristas, pero aún no esto no termina...</h2>
	</div>
	<div class="row res">
		<div class="col-xs-6 resule">
			<span class="resultado">60%</span>
		</div>
		<div class="col-xs-6 resulf">
			<span class="resultado">40%</span>
		</div>
	</div>
	<div class="row">
		<div class="row-md-1">
			<img class="estr" src="../images/Estrella.png" alt="">
		</div>
		<div class="row-md-10">
			<h3 style="margin-bottom:5px">Inscribete y podrás ganar</h3>
			<h3 style="margin-top:0px; margin-bottom:2px;">VACACIONES EN SAN PEDRO O LA PATAGONIA</h3>
			<img class="center-block img-responsive insc" src="../images/inscribirse.png" alt="">
			<button class="center-block btn-pronto">Omitir</button>
		</div>
		<div class="row-md-1"></div>
		
	</div>
</section>
<section class="pag_home cam_nor resultados">
	<div class="row sepinsc">
		<h2>Hasta el momento tenemos más Eneristas, pero aún no esto no termina...</h2>
	</div>
	<div class="row res">
		<div class="col-xs-1"></div>
		<div class="col-xs-4 resule">
			<span class="resultado">60%</span>
		</div>
		<div class="col-xs-2"></div>		
		<div class="col-xs-4 resulf">
			<span class="resultado">40%</span>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h3 style="margin-bottom:5px">Inscribete y podrás ganar</h3>
					<h3 style="margin-top:0px; margin-bottom:2px;">VACACIONES EN SAN PEDRO O LA PATAGONIA</h3>
					<img class="center-block img-responsive insc" src="../images/inscribirse.png" alt="">
					<button class="center-block btn-pronto">Omitir</button>
				</div>
				<div class="col-md-2">
					<img class="cbo" src="../images/Caballo.png" alt="">
				</div>		
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<img class="est" src="../images/estrellita.png">
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
	</div>
</section>
<img class="logopronto" src="../images/logo_pronto.png" alt="">
 